nav{background-color: black;
    padding: 2%;
    border: solid;
    display: flex;
    color: white;
    margin: 5%;
    justify-content: space-around;}
button{background-color: orange;
    font-size: larger;
    color: white;}
#Agri{font-size: larger;
    font-weight: bold;
    font-family: Poppins;}
#log{float: right;}
.part1{margin-left: 5%;
    background-image: url("/Assets/image 1.png");
    display: flex;}
 .part2{display: flex;
    justify-content: space-around;
    font-weight: bold;
    max-width: 80%;
    margin-right:15%;
    margin-left: 30%;
    border:groove;
    border-color: white;
    padding: 1%;
    margin-top: -2%;
    }
.part3{margin-left: 7%;
    max-width: 60%;}
#image3{float: right;}
.part4{text-align:center;}
h5{font-weight: bold;}
h4{font-weight: bold;}
.part5{display: flex;
justify-content: space-around;
margin-right:5%;
margin-left: 5%;}
.part6{display: flex;
justify-content: space-around;
margin-right:5%;
margin-left: 5%;}
.see{font-weight: bold;
    text-align: right;
    margin-right: 10%;}
.part8{display: flex;
    justify-content: space-around;
    margin-right:5%;
    margin-left: 5%;}
.part9{text-align:center;
color: white;
background-color: black;}
.part10{
display: flex;
justify-content: space-around;
color: white;
background-color: black;
}
.read{font-weight: bold;
    text-align: right;
    margin-right: 10%;}