nav{background-color: black;
    border: solid;
    display: flex;
    color: white;
    margin: 5%;
    justify-content: space-around;}
button{background-color: orange;
    color: white;}
#Agri{font-size: larger;
    font-weight: bold;
    font-family: Poppins;}
#log{float: right;}
.part1{margin: 5%;
    background-image: url('Assets/image\ 1.png'), url('Assets/image\ 2.png');
    background-size: 150px;
    width:  90%;
    height: 30%;}
 .part2{display: flex;
        justify-content: space-around;
    font-weight: bold;
    max-width: 80%;
    margin-left:auto;
    border:groove;
    }