nav{background-color: black;
    padding: 2%;
    border: solid;
    display: flex;
    color: white;
    margin: 5%;
    justify-content: space-around;}
button{background-color: orange;
    font-size: larger;
    color: white;}
#Agri{font-size: larger;
    font-weight: bold;
    font-family: Poppins;}
#log{float: right;}
.part1{margin-left: 5%;
        margin-right:5%;
    background-image: url('Assets/image 1.png'), url('Assets/image 2.png');
    padding: 35px;
    background-position: right top, right top;
    background-repeat: no-repeat, repeat;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    position: relative;}

 .part2{display: flex;
    justify-content: space-around;
    font-weight: bold;
    max-width: 80%;
    margin-right:15%;
    margin-left: 30%;
    border:groove;
    border-color: rgb(231, 228, 228);
    padding: 1%;
    margin: top 0;
    }
.part3{margin-left: 5%;
    max-width: 60%;}
#image3{float: right;}
.part4{text-align:center;}
h5{font-weight: bold;}
h4{font-weight: bold;}
.part5{display: flex;
    justify-content: space-around;
    margin-left: 0%;}
.part6{display: flex;
    justify-content: space-around;
    margin-left: 0%;}
#see{font-weight: bold;
    text-align: right;
    margin-right: 10%;}
.part8{display: flex;
    justify-content: space-around;
   }
.footer1{text-align:center;
    color: white;
    background-color: black;
    border: solid;
    padding: 10%;
    margin-right:5%;
    margin-left: 5%;}
.footer2{color: white;
    background-color: black;
    border: solid;
    padding: 10%;
    margin-right:5%;
    margin-left: 5%;}
.read{font-weight: bold;
    margin-right: 10%;
}
body{font-style: Poppins, Inter;}
.part11{margin-left: 5%;}
#rights{text-align: center;}
.part16{float: right;
        display: flex;}
.part14{float: left;}
.download{float: left;}
h6{font-weight: bold;
font-size: x-large;}
#topic{text-align: left;
font-size: x-large;
font-weight: bold;
margin-left: 5%;}
#box1{box-sizing: border-box;
height: 200px;
width: 250px;
padding: 10px;
margin: 5px;
margin-left:50px;
background-color: white;
border: 1px solid grey;}
#box2{box-sizing: border-box;
    height: 200px;
    width: 250px;
    padding: 10px;
    margin: 5px;
    margin-left:50px;
    background-color: white;
    border: 1px solid grey;}
#box3{box-sizing: border-box;
    height: 200px;
    width: 250px;
    padding: 10px;
    margin: 5px;
    margin-left:50px;
    background-color: white;
    border: 1px solid grey;}
.part17{display: flex;
justify-content: space-around;
margin-left: 0%;}

.part18{text-align: right;
margin-right: 10%;
font-weight: bold;}
.part12{font-weight: bold;
margin-left: 5%;}
.back{float: left;}
#tomato{float: right;
display: flex;
padding-bottom: 0px;
margin-top: 0px;
height: 100px;}
.line{box-sizing: border-box;
    width: 40px;
height: 3px;
background-color: orange;
margin-left:  47%;}
u{color: orange;}
