nav{background-color: black;
    border: solid;
    display: flex;
    color: white;
    margin: 5%;
    justify-content: space-around;}
    button{background-color: orange;}
    #Agri{font-size: larger;
    font-weight: bold;
    font-family: Poppins;}
    #log{float: right;}
    button{text-align: end;}